@import url('https://fonts.googleapis.com/css2?family=Alata&family=Hind+Siliguri&display=swap');

body {
    padding: 2rem;
    background-color: #D9F2CE;
}

h1, h2 {
    font-family: 'Alata', sans-serif;
}

h1 {
    font-size: 4rem;
    text-align: center;
    color: #6D8F71;
}

h2 {
    color: #BBC3A4;
    font-size: 2rem;
    width: 100%;
    text-align: center;
}

p, li, figcaption {
    font-family: 'Hind Siliguri', sans-serif;
    font-size: 1.4rem;
    color: #D9F2CE;
}

ul {
    width: 70%;
}

img {
    width: 95%;
    max-width: 400px;
    height: auto;
    border: 4px solid #BBC3A4;
    border-radius: 8px;
}

.textblock {
    overflow-y: scroll;
    max-height: 400px;
    max-width: 450px;
    padding: 5px;
}

.grid {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 75rem;
    padding: 1rem 2rem;
}

.portal {
    background-color: #6D8F71;
    padding: 5% 12%;
    border: #BBC3A4 solid 4px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}

.navbar {
    background-color: #D9F2CE;
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin: -4px;
    flex-wrap: wrap;
    justify-content: center;
}

.navbar a {
    text-align: center;
    font-family: 'Alata', sans-serif;
    font-weight: bold;
    font-size: 1.4rem;
    color: #6D8F71;
    text-decoration: none;
    padding: 1rem 2rem;
    border: #6D8F71 dashed 4px;
    border-bottom-color:#BBC3A4;
}

.navbar a:hover {
    background-color: #344F2D;
    color: #D9F2CE;
    border-style: solid;
}

.navbar a.active {
    background-color:#6D8F71;
    color:#BBC3A4;
    border-color:#BBC3A4;
    border-style: solid;
}

.navbar a.active:hover {
    background-color: #344F2D;
}

a.post_link {
    color: #BBC3A4;
    text-decoration: none;
    font-weight: bold;
}

a.post_link:hover {
    text-decoration: underline;
}

.post_date {
    text-align: right;
}

.post_header {
    text-align: center;
}

.advance {
    padding: 1rem 0;
}

.back {
    display: inline-block;
    width: 50%;
}

.forward {
    display: inline-block;
    width: 50%;
    text-align: right;
}